.logoIL {
    width: 100px;
    margin-left: 130px;
    
}

.googleI {
    width: 20px;
    margin-top: 3px;
    margin-right: 15px;
}

.imageAdd {
   
    transform: scale(1.25)
}

.tiktokI {
    width: 30px;
    margin-top: 2px;
}